cocos2dx
/test/test/external
Debug.win32
ipch
/test/test/*.sdf
/test/test/*.opensdf
/test/test/*.suo
/test/test/*.suo
/test/test/test.suo

/test/test/test/proj.android/obj

libs
/test/test/test/proj.android/bin
assets
