<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zombie_zamboni_folder-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,91},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>Zombie_zamboni_folder-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,124},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,206},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_jaw.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,124},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,69}}</string>
                <key>sourceSize</key>
                <string>{110,69}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,87}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,73},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,152},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,85},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zamboni_wires.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,115},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_beanie.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,152},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_innerarm_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_legs.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,73},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_lowerarm_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,27},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_outerarm_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,57},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_shoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,38},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>Zombie_zamboni_folder-Zombie_zambonidriver_upperarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zombie_zamboni.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9937b26ddde1677f0cd93204989f22a$</string>
            <key>textureFileName</key>
            <string>Zombie_zamboni.png</string>
        </dict>
    </dict>
</plist>
